.tabs {
  width: 100%;
  height: auto;

  .tabs-heading {
    display: flex;
    height: 48px;
    padding-left: unset;

    .item {
      display: flex;
      align-items: center;
      height: 100%;

      box-shadow: inset 0px -3px 0px #4e42e4;

      cursor: pointer;
      user-select: none;

      .title {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }

      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        min-width: 24px;
        padding: 0 6px;
        margin-left: 8px;

        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;

        border-radius: 14px;
        background-color: #4e42e4;
        color: white;
      }

      &:not(.active) {
        filter: grayscale(1) opacity(0.4);
        box-shadow: unset;
      }

      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  .tabs-body {
    margin-top: 33px;
  }
}
