header {
  width: 100%;
  min-height: 64px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 2px 8px rgba(0, 0, 0, 0.08);

  & > .inner {
    display: flex;
    align-items: center;
    height: 100%;

    .user-controls {
      position: relative;

      margin-left: auto;
      width: 40px;
      height: 40px;

      background: linear-gradient(135deg, #FA709A 0%, #FEE140 100%);
      border-radius: 50%;

      transition: transform 0.4s ease;

      &.load- {
        transform: translateY(-150%);
      }

      &:after {
        content: attr(data-name);

        position: absolute;
        top: 50%;
        left: 50%;

        font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;

        color: white;

        transform: translate(-50%, -50%);
      }

      &:hover {
        & > .dropdown-menu {
          opacity: 1;

          pointer-events: auto;

          &:before { // Хак, исправляет исчезновение выпадающего меню после того, как мы перетаскиваем мышь с аватара на список меню
            content: "";

            display: block;
            width: 100%;
            height: 30px;
            margin-top: -30px;

            opacity: 0;
          }
        }
      }
    }
  }
}